/* link test*/
h1 {
    color: red;
    font-family:'Courier New', Courier, monospace;
}

p {
    color: orange;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}