/* type selectors */

html, body {
    background-color:#fef4e4;
    margin: 0;
    padding: 0;
}

body {
    display:flex;
    min-height: 100vh;
    flex-direction:column;
    align-items:center;
    position:relative;
    font-family: 'Jost', sans-serif;
    font-size: .8em;
}

header {
    background-image:url(../images/floral-header.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding-left:30%;
    padding-right:30%;
    padding-top:2%;
    padding-bottom:2%;
}

footer {
    display:block;
    position:relative;
    width:100%;
    text-align:center;
    margin-top: auto;
    bottom:0;
    background-color: #feedd2;
}

nav {
    display:block;
}

h1 {
    color: #b07721;
    font-family: 'Quicksand', serif;
    font-weight: normal;
    font-size:3.5em;
    padding:0px;
    text-shadow: 2px 2px 2px #87604b;
    margin-bottom:2%;
    margin-top:5%;
}

h2 {
    color: #b07721;
    font-family: 'Jost', 'Quicksand', sans-serif;
    font-size:2em;
    padding:0px;
}

h3 {
    color: #b07721;
    font-family: 'Jost', 'Quicksand', sans-serif;
    font-size:1.5em;
    padding:0px;
}

p {
    display: block;
    margin-block-start: .75em;
    margin-block-end: .75em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}

    /* link specifics */

a:link {
    color: #b07721;
    text-decoration: none;
}

a:visited {
    color: #87604b;
    text-decoration:none;

}

a:hover {
    color: #b07721;
    text-decoration:underline;
    text-decoration-color:#87604b;

}

a:active {
    color: #87604b;
    text-decoration: underline;
    text-decoration-color: #87604b;
}

    /* end link specifics */

video {
    border-radius: 25%;
    object-fit: cover;
    filter: sepia(.25);
}

video:hover {
    filter: sepia(0);
}

/* class selectors */

    /* header classes */

.header-image {
    background-color: #feedd2;
    border-radius: 20%;
    padding-left: 40px;
    padding-right: 40px;
}

.nav-menu {
    font-family: 'Quicksand', serif;
    font-size: 1.25em;
    display:block;
    position:relative;
    padding-top:0;
    padding-bottom:0;
    list-style: none;
    box-sizing: border-box;
    width:100%;
}

.nav-color-bar {
    border-top: 1px;
    height: 20px;
    width: 100%;
    background-color: #feedd2;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding-top:0;
    justify-content:space-evenly;
}

    /* end header classes */

.welcome-section {
    width: 100%;
    margin: 15px auto;
    display:flex;
    align-items:center;
    position:relative;
}

.drawing-information {
    width: 80%;
    margin: 15px auto;
    display:flex;
    align-items:center;
    position:relative;
}

.baking-information {
    width: 80%;
    margin: 15px auto;
    display: flex;
    align-items: center;
    position: relative;
}

.drawing-text {
   margin-left: 0%;
   margin-right: 5%;
   margin-top: 5%;
   margin-bottom: 5%;
}

.baking-text {
    margin-left: 5%;
    margin-right: 0%;
    margin-bottom: 5%;
}

.baking-list {
    list-style:none;
}

.baking-sub-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size:0.9em;
}

.welcome-page {
    background-image: url(../images/welcome-background.jpg);
}

.artwork-img-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    align-content: space-evenly;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 0px;
}

/*I did have to look up how to do some tricks with the image gallery below, but it also required a lot of troubleshooting! Just wanted to clarify this is not a copy/paste. I tried to find a workaround for the 'webkit' function but couldn't figure it out completely.*/

.gallery-img { 
    height: 250px;
    width: 250px;
    object-fit: cover;
    padding: 10px;
    filter: sepia(.25);
    top:-40px; 
    left:-25px; 
    z-index:999; 
    cursor: pointer; 
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
    position: relative;
    } 
    
.gallery-img:hover { 
    filter: sepia(0);
    transform: scale(2); 
    position:relative;
    z-index: 2000;
    object-fit: contain;
    }

.sketch-timeline {
    padding: 2%;
    text-align: center;

}

/* ID selectors */

#drawing-bio {
    margin-top:2%;
    margin-bottom:2%;
    margin-left: 5%;
    margin-right:2%;
    padding-right:2%;
    text-align:justify;
    align-items:center;
}

#baking-bio {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 5%;
    padding-left: 2%;
    text-align: justify;
    align-items: center;
}

#profile-img {
    width: 100%;
    max-width: 500px;
    border-radius: 100%;
    border: solid;
    border-color:#b07721;
    margin:15px;
    filter: sepia(0.5);
    margin-left: 17%;
}

#profile-img:hover {
    filter: sepia(0);
}

#baby-img {
    object-fit: cover;
    width: 350px;
    height: 350px;
    filter: sepia(1);
    border-radius:25%;
}

#baby-img:hover {
    filter: sepia(0);
}

#bio {
    width: 50%;
    margin-top:2%;
    margin-bottom:2%;
    margin-left: 5%;
    margin-right:5%;
    padding-left:7%;
    padding-right:5%;
    align-items:center;
}

#baking-blurb {
    display: block;
}

    /* nav IDs */

#nav-about {
    padding-left: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right:5%;
}

#nav-drawings {
    padding: 5%
}

#nav-baking {
    padding: 5%;
}

#nav-writing {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom:5%;
    padding-right:10%;
}

#nameplate {
    padding-bottom:0;
    display:flex;
    text-align:center;
}

#nameplate-link {
    text-decoration: none;
    color: #b07721;
}

    /* end nav IDs*/

#welcome {
    text-align:right;
}

#gallery-sub-heading {
    text-shadow: 1px 1px 1px #87604b;
    font-weight: normal;
    margin-bottom:2%;
    margin-top:5%;
}

#welcome-page {
    background-image: url(../images/welcome-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}