/* link test*/

body {
    background-color: yellow;
}

h1 {
    color: red;
    font-family:'Courier New', Courier, monospace;
}

p {
    color: orange;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}